{% extends "index.j2" %}
{% block analytics %}
  <!-- SITE CONTENT -->
  </p>This is where my site text goes... I can write whatever I want in here and it will pull in text</p>
  <!-- SITE CONTENT -->
{% endblock %}
